 button:hover, .active {
  color: #7126B5!important;
  background-color: transparent!important;
}

#daftar-jual button:focus {
  box-shadow: none!important;
}

.content {
  display: none;
}

.active-content {
  display: block;
}


@media only screen and (max-width: 360px){
  .daftar-jual{
    display: none;
  }

  .container {
    padding: 0px 20px !important;
  }

  span {
    width : 120px
  }
   
}