.popover-profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 8px;
}

@media only screen and (max-width: 360px){

  .nav-info{
    margin: 0;
    padding: 0;
  }

  .nav-info .brand{
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/uploadIcon.png");
  }

  .nav-info p{
    margin: 0 auto 0 14%;
    display: inline-block;
  }
}
