#btn-category Button {
    cursor: pointer;
}

#btn-category .active,
Button:hover {
    background-color: #7126B5!important
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.2em; 
    white-space: nowrap;
  }