body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.fs-7 {
  font-size: 14px!important;
}

.search {
  width: 444px !important;
  height: 48px;
  padding: 14px 64px 14px 24px!important;
  background-color: #EEEEEE!important;
}

.radius-primary {
  border-radius: 16px !important;
}

.radius-secondary {
  border-radius: 12px !important;
}

.radius-large {
  border-radius: 20px !important;
}

.brand {
  width: 100px;
  height: 34px;
}

.bg-color-primary {
  background-color: #4B1979!important;
}

.bg-color-secondary {
  background-color: #E2D4F0 !important;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}


/* carousel */

.owl-carousel .item img {
  height: 288px;
  object-fit: cover;
  width: 100%;
}

.owl-carousel .item {
  opacity: 0.4;
  transition: .4s ease all;
  transform: scale(.1);
}

@media(max-width: 1000px) {
  .item {
    margin: 0;
    transform: scale(.9)
  }
}

.active .item {
  opacity: 1;
  transform: scale(1);
}

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.owl-carousel:after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -4%;
  pointer-events: none;
  background-size: 100% auto;
}

.owl-controls {
  position: absolute;
  margin-top: 200px;
}

.btn-category Button {
  cursor: pointer;
}

.btn-category .active,
Button:hover {
  background-color: #4B1979!important;
}